aside {
    background-color: #2c303a;
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    color: #fff;
    box-shadow: 0 0 4px rgb(0 0 0 / 50%);
}

aside div {
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

aside div.active {
    background-color: rgba(4, 122, 191, 0.45);
}

aside div:hover {
    background-color: rgba(255, 255, 255, 0.2);
}