.tabs {
    display: flex;
}

.tab {
    padding: 5px 10px 5px 10px;
    background-color: rgba(34, 34, 34, 0.6);
    cursor: pointer;
    border-radius: 3px 3px 0 0;
}

.tab.active {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-weight: bold;
}

.panels {
    width: 100%;
    height: 100%;
}

.panel {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

    background-color: rgba(255, 255, 255, 0.8);
    color: #333;

    display: none;

    border-radius: 0 3px 3px 3px;
}

.panel.active {
    display: block;
}